# Byte-compiled / optimized / DLL files
__pycache__/*
*.py[cod]
*$py.class



# Distribution / packaging
.Python


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
/backend/.vscode
/backend/.venv*


#Dev Files
example.json
run.sh
test.json

